In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [4]:
X.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58

In [5]:
y.head(2)

0    1
1    0
Name: Exited, dtype: int64

In [6]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [7]:
## Concatenate the Data Frames
X=pd.concat([X,geography,gender],axis=1)

## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [8]:
X.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

Using TensorFlow backend.

In [12]:
classifier = Sequential()

In [13]:
classifier.add(Dense(units=10, activation='relu',kernel_initializer='he_normal',input_dim=11))
classifier.add(Dropout(0.2))

WARNING:tensorflow:From C:\Users\sdasgupt\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [14]:
classifier.add(Dense(units=20, kernel_initializer='he_normal', activation='relu'))
classifier.add(Dropout(0.3))

In [15]:
classifier.add(Dense(units=15, kernel_initializer='he_normal', activation='relu'))
classifier.add(Dropout(0.4))

In [16]:
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [17]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                120
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_2 (Dense)              (None, 20)                220
_________________________________________________________________
dropout_2 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_3 (Dense)              (None, 15)                315
_________________________________________________________________
dropout_3 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 16
=================================================================
Total params: 671
Trainable params: 671
Non-trainable params: 0
_________________________________________________________________

In [18]:
classifier.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [19]:
model_history = classifier.fit(X_train,y_train,validation_split=0.33, batch_size=100, nb_epoch=100)

WARNING:tensorflow:From C:\Users\sdasgupt\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\sdasgupt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.8393 - accuracy: 0.5208 - val_loss: 0.5730 - val_accuracy: 0.7774
Epoch 2/100
5359/5359 [==============================] - 0s 31us/step - loss: 0.6211 - accuracy: 0.7154 - val_loss: 0.5267 - val_accuracy: 0.7952
Epoch 3/100
5359/5359 [==============================] - 0s 43us/step - loss: 0.5652 - accuracy: 0.7645 - val_loss: 0.5090 - val_accuracy: 0.7967
Epoch 4/100
5359/5359 [==============================] - 0s 42us/step - loss: 0.5501 - accuracy: 0.7759 - val_loss: 0.4965 - val_accuracy: 0.7970
Epoch 5/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.5299 - accuracy: 0.7847 - val_loss: 0.4862 - val_accuracy: 0.7970
Epoch 6/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.5272 - accuracy: 0.7822 - val_loss: 0.4784 - val_accuracy: 0.7967
Epoch 7/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.5080 - accuracy: 0.7886 - val_loss: 0.4699 - val_accuracy: 0.7978
Epoch 8/100
5359/5359 [==============================] - ETA: 0s - loss: 0.4971 - accuracy: 0.79 - 0s 37us/step - loss: 0.4970 - accuracy: 0.7931 - val_loss: 0.4632 - val_accuracy: 0.7978
Epoch 9/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4965 - accuracy: 0.7895 - val_loss: 0.4578 - val_accuracy: 0.7970
Epoch 10/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4764 - accuracy: 0.7977 - val_loss: 0.4522 - val_accuracy: 0.7970
Epoch 11/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4813 - accuracy: 0.7974 - val_loss: 0.4498 - val_accuracy: 0.7974
Epoch 12/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4789 - accuracy: 0.7968 - val_loss: 0.4467 - val_accuracy: 0.7989
Epoch 13/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.4722 - accuracy: 0.7960 - val_loss: 0.4426 - val_accuracy: 0.7986
Epoch 14/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.4725 - accuracy: 0.7960 - val_loss: 0.4400 - val_accuracy: 0.7989
Epoch 15/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4645 - accuracy: 0.7975 - val_loss: 0.4370 - val_accuracy: 0.7986
Epoch 16/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.4584 - accuracy: 0.8000 - val_loss: 0.4336 - val_accuracy: 0.8001
Epoch 17/100
5359/5359 [==============================] - 0s 25us/step - loss: 0.4546 - accuracy: 0.8031 - val_loss: 0.4307 - val_accuracy: 0.8020
Epoch 18/100
5359/5359 [==============================] - 0s 22us/step - loss: 0.4542 - accuracy: 0.8009 - val_loss: 0.4275 - val_accuracy: 0.8035
Epoch 19/100
5359/5359 [==============================] - 0s 23us/step - loss: 0.4479 - accuracy: 0.8029 - val_loss: 0.4247 - val_accuracy: 0.8073
Epoch 20/100
5359/5359 [==============================] - 0s 23us/step - loss: 0.4485 - accuracy: 0.8054 - val_loss: 0.4227 - val_accuracy: 0.8088
Epoch 21/100
5359/5359 [==============================] - 0s 34us/step - loss: 0.4432 - accuracy: 0.8067 - val_loss: 0.4199 - val_accuracy: 0.8137
Epoch 22/100
5359/5359 [==============================] - 0s 33us/step - loss: 0.4402 - accuracy: 0.8085 - val_loss: 0.4169 - val_accuracy: 0.8148
Epoch 23/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.4393 - accuracy: 0.8110 - val_loss: 0.4140 - val_accuracy: 0.8167
Epoch 24/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4340 - accuracy: 0.8141 - val_loss: 0.4125 - val_accuracy: 0.8183
Epoch 25/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4332 - accuracy: 0.8128 - val_loss: 0.4115 - val_accuracy: 0.8183
Epoch 26/100
5359/5359 [==============================] - 0s 42us/step - loss: 0.4279 - accuracy: 0.8205 - val_loss: 0.4101 - val_accuracy: 0.8190
Epoch 27/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.4328 - accuracy: 0.8169 - val_loss: 0.4087 - val_accuracy: 0.8209
Epoch 28/100
5359/5359 [==============================] - 0s 42us/step - loss: 0.4268 - accuracy: 0.8141 - val_loss: 0.4071 - val_accuracy: 0.8205
Epoch 29/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4244 - accuracy: 0.8151 - val_loss: 0.4069 - val_accuracy: 0.8213
Epoch 30/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4179 - accuracy: 0.8164 - val_loss: 0.4046 - val_accuracy: 0.8205
Epoch 31/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.4239 - accuracy: 0.8203 - val_loss: 0.4038 - val_accuracy: 0.8232
Epoch 32/100
5359/5359 [==============================] - 0s 42us/step - loss: 0.4238 - accuracy: 0.8196 - val_loss: 0.4032 - val_accuracy: 0.8220
Epoch 33/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.4248 - accuracy: 0.8182 - val_loss: 0.4026 - val_accuracy: 0.8236
Epoch 34/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.4264 - accuracy: 0.8166 - val_loss: 0.4038 - val_accuracy: 0.8232
Epoch 35/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4237 - accuracy: 0.8182 - val_loss: 0.4021 - val_accuracy: 0.8243
Epoch 36/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.4213 - accuracy: 0.8205 - val_loss: 0.4022 - val_accuracy: 0.8254
Epoch 37/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.4222 - accuracy: 0.8214 - val_loss: 0.4014 - val_accuracy: 0.8251
Epoch 38/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4128 - accuracy: 0.8209 - val_loss: 0.3993 - val_accuracy: 0.8266
Epoch 39/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4129 - accuracy: 0.8259 - val_loss: 0.3979 - val_accuracy: 0.8273
Epoch 40/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.4181 - accuracy: 0.8212 - val_loss: 0.3977 - val_accuracy: 0.8281
Epoch 41/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.4174 - accuracy: 0.8265 - val_loss: 0.3970 - val_accuracy: 0.8292
Epoch 42/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.4060 - accuracy: 0.8265 - val_loss: 0.3946 - val_accuracy: 0.8281
Epoch 43/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.4177 - accuracy: 0.8194 - val_loss: 0.3956 - val_accuracy: 0.8254
Epoch 44/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.4121 - accuracy: 0.8231 - val_loss: 0.3923 - val_accuracy: 0.8270
Epoch 45/100
5359/5359 [==============================] - 0s 21us/step - loss: 0.4143 - accuracy: 0.8280 - val_loss: 0.3938 - val_accuracy: 0.8292
Epoch 46/100
5359/5359 [==============================] - 0s 18us/step - loss: 0.4029 - accuracy: 0.8253 - val_loss: 0.3908 - val_accuracy: 0.8300
Epoch 47/100
5359/5359 [==============================] - 0s 24us/step - loss: 0.4103 - accuracy: 0.8281 - val_loss: 0.3918 - val_accuracy: 0.8289
Epoch 48/100
5359/5359 [==============================] - 0s 23us/step - loss: 0.4005 - accuracy: 0.8311 - val_loss: 0.3903 - val_accuracy: 0.8307
Epoch 49/100
5359/5359 [==============================] - 0s 23us/step - loss: 0.4077 - accuracy: 0.8285 - val_loss: 0.3898 - val_accuracy: 0.8315
Epoch 50/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.4032 - accuracy: 0.8306 - val_loss: 0.3894 - val_accuracy: 0.8307
Epoch 51/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.4089 - accuracy: 0.8268 - val_loss: 0.3885 - val_accuracy: 0.8326
Epoch 52/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3948 - accuracy: 0.8341 - val_loss: 0.3856 - val_accuracy: 0.8345
Epoch 53/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4025 - accuracy: 0.8308 - val_loss: 0.3867 - val_accuracy: 0.8315
Epoch 54/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.4073 - accuracy: 0.8287 - val_loss: 0.3872 - val_accuracy: 0.8304
Epoch 55/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3990 - accuracy: 0.8293 - val_loss: 0.3855 - val_accuracy: 0.8330
Epoch 56/100

5359/5359 [==============================] - 0s 37us/step - loss: 0.3983 - accuracy: 0.8356 - val_loss: 0.3837 - val_accuracy: 0.8349
Epoch 57/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3969 - accuracy: 0.8358 - val_loss: 0.3835 - val_accuracy: 0.8357
Epoch 58/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.3990 - accuracy: 0.8349 - val_loss: 0.3812 - val_accuracy: 0.8376
Epoch 59/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3987 - accuracy: 0.8334 - val_loss: 0.3819 - val_accuracy: 0.8353
Epoch 60/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.4045 - accuracy: 0.8291 - val_loss: 0.3816 - val_accuracy: 0.8364
Epoch 61/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3974 - accuracy: 0.8391 - val_loss: 0.3792 - val_accuracy: 0.8376
Epoch 62/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3927 - accuracy: 0.8354 - val_loss: 0.3778 - val_accuracy: 0.8372
Epoch 63/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3997 - accuracy: 0.8375 - val_loss: 0.3775 - val_accuracy: 0.8406
Epoch 64/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3952 - accuracy: 0.8364 - val_loss: 0.3748 - val_accuracy: 0.8417
Epoch 65/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3973 - accuracy: 0.8334 - val_loss: 0.3775 - val_accuracy: 0.8413
Epoch 66/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.4011 - accuracy: 0.8341 - val_loss: 0.3768 - val_accuracy: 0.8417
Epoch 67/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3925 - accuracy: 0.8382 - val_loss: 0.3753 - val_accuracy: 0.8410
Epoch 68/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3893 - accuracy: 0.8384 - val_loss: 0.3724 - val_accuracy: 0.8432
Epoch 69/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3876 - accuracy: 0.8367 - val_loss: 0.3713 - val_accuracy: 0.8444
Epoch 70/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.3918 - accuracy: 0.8395 - val_loss: 0.3713 - val_accuracy: 0.8436
Epoch 71/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3895 - accuracy: 0.8373 - val_loss: 0.3697 - val_accuracy: 0.8455
Epoch 72/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3897 - accuracy: 0.8388 - val_loss: 0.3709 - val_accuracy: 0.8429
Epoch 73/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.3880 - accuracy: 0.8397 - val_loss: 0.3713 - val_accuracy: 0.8417
Epoch 74/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3916 - accuracy: 0.8371 - val_loss: 0.3706 - val_accuracy: 0.8425
Epoch 75/100
5359/5359 [==============================] - 0s 25us/step - loss: 0.3913 - accuracy: 0.8377 - val_loss: 0.3705 - val_accuracy: 0.8436
Epoch 76/100
5359/5359 [==============================] - 0s 22us/step - loss: 0.3909 - accuracy: 0.8377 - val_loss: 0.3680 - val_accuracy: 0.8440
Epoch 77/100
5359/5359 [==============================] - 0s 25us/step - loss: 0.3835 - accuracy: 0.8388 - val_loss: 0.3686 - val_accuracy: 0.8444
Epoch 78/100
5359/5359 [==============================] - 0s 25us/step - loss: 0.3834 - accuracy: 0.8406 - val_loss: 0.3679 - val_accuracy: 0.8436
Epoch 79/100
5359/5359 [==============================] - 0s 25us/step - loss: 0.3926 - accuracy: 0.8360 - val_loss: 0.3713 - val_accuracy: 0.8421
Epoch 80/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3854 - accuracy: 0.8395 - val_loss: 0.3695 - val_accuracy: 0.8444
Epoch 81/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3852 - accuracy: 0.8405 - val_loss: 0.3669 - val_accuracy: 0.8470
Epoch 82/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.3885 - accuracy: 0.8380 - val_loss: 0.3683 - val_accuracy: 0.8459
Epoch 83/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.3867 - accuracy: 0.8391 - val_loss: 0.3689 - val_accuracy: 0.8466
Epoch 84/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3866 - accuracy: 0.8412 - val_loss: 0.3680 - val_accuracy: 0.8463
Epoch 85/100
5359/5359 [==============================] - 0s 20us/step - loss: 0.3798 - accuracy: 0.8447 - val_loss: 0.3674 - val_accuracy: 0.8463
Epoch 86/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3778 - accuracy: 0.8421 - val_loss: 0.3664 - val_accuracy: 0.8463
Epoch 87/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3844 - accuracy: 0.8401 - val_loss: 0.3692 - val_accuracy: 0.8429
Epoch 88/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3860 - accuracy: 0.8405 - val_loss: 0.3685 - val_accuracy: 0.8451
Epoch 89/100
5359/5359 [==============================] - 0s 35us/step - loss: 0.3829 - accuracy: 0.8457 - val_loss: 0.3679 - val_accuracy: 0.8474
Epoch 90/100
5359/5359 [==============================] - 0s 41us/step - loss: 0.3867 - accuracy: 0.8369 - val_loss: 0.3684 - val_accuracy: 0.8448
Epoch 91/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.3771 - accuracy: 0.8442 - val_loss: 0.3654 - val_accuracy: 0.8455
Epoch 92/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3877 - accuracy: 0.8386 - val_loss: 0.3665 - val_accuracy: 0.8448
Epoch 93/100
5359/5359 [==============================] - 0s 40us/step - loss: 0.3831 - accuracy: 0.8354 - val_loss: 0.3675 - val_accuracy: 0.8448
Epoch 94/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.3795 - accuracy: 0.8382 - val_loss: 0.3656 - val_accuracy: 0.8451
Epoch 95/100
5359/5359 [==============================] - 0s 39us/step - loss: 0.3878 - accuracy: 0.8367 - val_loss: 0.3664 - val_accuracy: 0.8466
Epoch 96/100
5359/5359 [==============================] - 0s 37us/step - loss: 0.3764 - accuracy: 0.8459 - val_loss: 0.3653 - val_accuracy: 0.8455
Epoch 97/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3852 - accuracy: 0.8444 - val_loss: 0.3657 - val_accuracy: 0.8444
Epoch 98/100
5359/5359 [==============================] - 0s 34us/step - loss: 0.3859 - accuracy: 0.8414 - val_loss: 0.3671 - val_accuracy: 0.8451
Epoch 99/100
5359/5359 [==============================] - 0s 38us/step - loss: 0.3761 - accuracy: 0.8464 - val_loss: 0.3644 - val_accuracy: 0.8459
Epoch 100/100
5359/5359 [==============================] - 0s 36us/step - loss: 0.3748 - accuracy: 0.8466 - val_loss: 0.3627 - val_accuracy: 0.8440

In [20]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [21]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [22]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1554,   41],
       [ 239,  166]], dtype=int64)

In [23]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.86